<div class="user-chat-box" *ngIf="!isCanceled">
  <div class="chat-header">
    <h2 #value>{{ name }}</h2>
    <button (click)="onClickCancel()">X</button>
  </div>

  <div id="chat-messages-list">
    <p *ngFor="let msg of msgs" [class]="name==msg.name? 'self':'other'">
      {{ msg.message }}
      <br />
      By : {{ msg.name }}
      <br />
      At : {{ msg.time}} <br />
    </p>

    <p></p>
  </div>

  <div class="message-input-container">
    <input
      #msg
      type="text"
      placeholder="Type message here..."
    />
    <button (click)="msgSend(msg.value, value.innerHTML); msg.value = ''">Send</button>
  </div>
</div>
